.form {
    text-align: center;
    height: auto;
    border: 5px solid white;
    border-radius: 10px;
    width: 30vw;
}

.Home{
    display: flex;
    gap: 12vw;
}

textarea{
    width: 20vw;
    height: 20vh;
}

input{
    width: 12vw;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}