.form {
    text-align: center;
    height: auto;
    border: 5px solid white;
    border-radius: 10px;
    width: 30vw;
}

.Home{
    display: flex;
    position: fixed;
    gap: 12vw;
}

textarea{
    width: 20vw;
    height: 20vh;
}

input{
    width: 12vw;
}

 form button:hover{
    background-color: greenyellow;
    cursor: pointer;

}

form button{
    height: 4vh;
    border-radius: 8px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.leaflet-container{
    width: 100%;
    height: 30vh;
}

.logOutButton {
    position: relative;
    left: 90vw;
    width: 9.5vw;
    text-align: center;
    height: 7vh;
    background-color: white;
    border-radius: 8px;
    border: none;
}

.logOutButton:hover {
    background-color: red;
}