body{
    margin: 0;
    position: fixed;
}

.squadContainer{
    display: flex;
    gap:15vw;
}


.sidebar{
    width: 20vw;
    background-color: black;
    height: 100vh;
    text-align: center;
    
}

.sidebar h1{
    margin: 0;
}

.sidebar table{
    width: 19vw;
}

.sidebar button{
    width: 10vw;
}

.case-button:hover{
    background-color: greenyellow;
}

.case-closed:hover{
    background-color: red;
}


.logOutButtonSquad {
    position: relative;
    left: 1vw;
    width: 9.5vw;
    text-align: center;
    height: 7vh;
    background-color: white;
    border-radius: 8px;
    border: none;
}

.logOutButtonSquad:hover {
    background-color: red;
}