body{
    margin: 0;
    position: fixed;
}

.squadContainer{
    display: flex;
    gap:15vw;
}


.sidebar{
    width: 20vw;
    background-color: black;
    height: 100vh;
    text-align: center;
    
}

.sidebar h1{
    margin: 0;
}

.sidebar table{
    width: 19vw;
}

.sidebar button{
    width: 10vw;
}

.case-button:hover{
    background-color: greenyellow;
}

.case-closed:hover{
    background-color: red;
}